.wrapper-card {
    margin-bottom: 10px;
    border: 2px solid black;
    background-color: aqua;
}

.btn {
    display:inline-block;
    padding: 10px 15px;
    margin-bottom: 10px;
    border: 2px solid black;
}
